.App{
    box-sizing: border-box;
    width: 100%;
    /* height: 100vh; */
    position: relative;
}
.main-container{
    position: relative;
    width: auto;
}
.sidebar{
    transition-duration: 2s;
    display: none;
    position: fixed;
    background-color: black;
    top: 0;
    right: 0;
    bottom: 0;
    width: 70%;
}
.sidebar-top{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.hamburger{
    width: 35px;
    margin: 1.5rem;
}
.sidebar-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}
.sidebar-content li{
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    margin: 1rem;
    font-size: 1.3rem;
    border: 1px solid white;
}
.sidebar-link{
    text-decoration: none;
    color: white;
    padding: 1.2rem;
}
/* @media (max-width: 768px) {
    .sidebar{
        display: none;
    }
} */