.form {
    background-color: #f1f1f1;
    display: block;
    padding: 1rem;
    max-width: 350px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  .auth{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
  }
  
  .input-container {
    position: relative;
  }
  
  .input-container input, .form button {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
  }
  


  .login-btn{
    cursor: pointer;
    padding: 0.7rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    background-color: black;
    color: #ffffff;
   }
  .signup-link {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
  }
  
  .signup-link a {
    text-decoration: underline;
  }
  .c{
    width: 600px;
  }

  @media (max-width: 768px) {
    .auth{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
    }
    .c{
      width: 250px;
    }
  }