

@media (max-width: 768px) {
    .product-card{
        width: auto;
        align-items: center;
        justify-content: center;
    }
    .product-image-container{
        width: 100%;
        height: 160px;
        display: flex;
        justify-content: center;
    }
    .product-card-image{
        width: 100%;
    }
    .product-card-left{
        align-items: center;
        justify-content: center;
    }
}

.bid-history{
    color: gray;
    text-decoration: underline;
    cursor: pointer;
    width: max-content;
}

/* new card style */
.product__card__container{
    margin: 6px;
    border-radius: 4px;
    width: 300px;
    height: 420px;
    padding: 10px;
    border: 1px solid gray;
}
.product-card-image{
    /* max-width: 280px; */
    width: 280;
    object-fit: fill;
    max-height: 300px;
}
.inner-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.timer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.timer-text{
    font-size: 14px;
    font-weight: bold;
}
.product-price-bidbtn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.product-details-container{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150px;
}
.bidding-btn{
    width: 4rem;
    background-color: black;
    color: white;
    padding: 8px 16px 8px 16px;
    outline: none;
    border: none;
}
.bidding-btn:hover{
    cursor: pointer;
    
}