.products-container{
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.add-product-btn-container{
    cursor: pointer;
    position: fixed;
    bottom: 16px;
    right: 16px;
}
.add-product-btn{
    cursor: pointer;
    background-color: black;
    color: white;
}